In [1]:
if True:
    print('Hello')

Hello

In [2]:
if True:
print('Hello')

IndentationError: expected an indented block after 'if' statement on line 1 (2070047255.py, line 2)

In [3]:
if True:
    print('Hello')
    print('How are you')

Hello
How are you

In [5]:
if False:
    print('How are you')

In [1]:
if True:
    print('Data science')

print('Bye for now')

Data science
Bye for now

In [2]:
if False:
    print('Data science')

print('Buy for now')

Buy for now

In [3]:
if True:
    print('Data science')
else:
    print('Buy for now')

Data science

In [4]:
if False:
    print('Data science')
else:
    print('Bye for now')

Bye for now

write python code to check whether number is even or odd

In [5]:
x=4
r=x%2
if r==0:
    print('Even number')

Even number

In [6]:
x=5
r=x%2
if r==0:
    print('Even number')

In [7]:
x=6
r=x%2
if r==0:
    print('Even number')

if r==1:
    print('Odd number')

Even number

In [8]:
x=6
r=x%2
if r==0:
    print('Even number')

else:
    print('Odd number')

Even number

In [9]:
x=6
r=x%2
if r==0:
    print('Even number')
    print('Odd number')

Even number
Odd number

In [10]:
x=4 
r=x%2

if r==0:
    print('Even number')
else:
    print('Odd number')

Even number

In [11]:
x=5
r=x%2

if r==0: print('Even number')
else: print('Odd number')

Odd number

In [12]:
x=10
r=x%2 

if r==0:
    print('Even number')
if r==1:
    print('Odd number')

Even number

In [13]:
x=9
r=x%2

if r==0:
    print('Even number')

if r!=0:
    print('Odd number')

Odd number

Nested if

In [14]:
x=3
r=x%2

if r==0:
    print('Even number')
    if x>5:
        print('greater number')

else:
    print('Odd number')

Odd number

In [15]:
x=6
r=x%2

if r==0:
    print('Even number')

    if x>5:
        print('greater number')
    else:
        print('smaller number')

else:
    print('Odd number')

Even number
greater number

In [16]:
x=4

if x==1:
    print('One')

if x==2:
    print('two')\

if x==3:
    print('three')

if x==4:
    print('four')

four

In [17]:
x=2 

if x==1:
    print('one')
elif x==2:
    print('two')
elif x==3:
    print('three')
elif x==4:
    print('four')

two

In [18]:
x=10

if x==1:
    print('one')

elif x==2:
    print('two')

elif x==3:
    print('three')

elif x==4:
    print('four')

In [19]:
x=10

if x==1:
    print('one')

elif x==2:
    print('two')

elif x==3:
    print('three')

elif x==4:
    priint('four')
    
else:
    print('number not found')

number not found

In [24]:
num = int(input("Enter a number: "))

if num>0:
    print("Positive")

elif num<0:
    print("Negative")

else:
    print("Zero")

Enter a number:  10

Positive

If Conditional Statement in Python

In [25]:
age = 20 
if age>=18:
    print("Eligible to vote.")

Eligible to vote.

In [26]:
age = 19
if age>18:
    print("Eligible to vote")

Eligible to vote

If else Conditional Statements in Python

In [28]:
age=12
if age<=12:
    print("Travel for free")
else:
    print("Pay for ticket")

Travel for free

In [35]:
marks=45
res="Pass"
if marks>=40:
    print(f"Result:{res}")
else:
    print("Fail")

Result:Pass

In [ ]:
elif Statement

In [36]:
age = 25
if age<=12:
    print("Child.")

elif age<=19:
    print("Teenager.")

elif age<=35:
    print("Young adult.")

else:
    print("Adult.")

Young adult.

Nested if..else Conditional Statements in Python

In [39]:
age=50
is_member = True

if age>=60:
    if is_member:
        print("30% senior discount!")

    else:
        print("20% senior discount!")

else:
    print("Not eligible for a senior discount.")

Not eligible for a senior discount.

Ternary Conditional Statement in Python

In [44]:
# Assign a value based on a condition 
age = 10 
if age>=18:
    s = "Adult" 
else :
    s = "Minor"
print (s)

Minor

Match-Case Statement in Python

In [49]:
number = 3

match number:
    case 1:
        print("One")
    case 2 | 3:
        print("Two or Three")
    case _:
        print("Other number")

Two or Three