Loops

In [1]:
print('data science')
print('data science')
print('data science')
print('data science')

data science
data science
data science
data science

In [2]:
i=1             #initializing
while i<=5:     #condition
    print('data science')
    i=i+1       #increment

data science
data science
data science
data science
data science

In [8]:
i=5
while i>=1:
    print('data science')
    i=i-1

data science
data science
data science
data science
data science

In [10]:
i = 1           #initializing
while i<=5:      #condition
    print('data scinece: ', i)
    i = i+1     #increment

data scinece:  1
data scinece:  2
data scinece:  3
data scinece:  4
data scinece:  5

In [13]:
i = 5           # intializing
while i>=1:     # condition
    print('data science :',i)
    i = i-1     # decrement

data science : 5
data science : 4
data science : 3
data science : 2
data science : 1

In [14]:
i = 1

while i<=5:
    print('data science')# when we mwntion and then new line will not create 
    j = 1
    while j<=4:
        print('technology')
        j=j+1

    i = i+1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [18]:
# lets use while loop using sssome members
i=1

while i <= 2:
    j=0
    while j <= 2:
        print(i*j, end="  ")
        j += 1
    print()
    i += 1

0  1  2
0  2  4

In [19]:
# lets use while loop using some numbers 
i = 1
while i <= 4:
    j = 0
    while j<= 3:
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

For LOOP - normally while loop it work with iteration or creation some condition but for  loop it will work with sequence(list, string, list)

In [2]:
name = 'nit'

for i in name:
    print(i)

n
i
t

In [3]:
name1 = [1,3.5,'hello'] # i want print the value individually

for i in name1:
    print(i)

1
3.5
hello

In [4]:
for i in [2,3,7.8,'hi']:
    print(i)

2
3
7.8
hi

In [5]:
range(5)

range(0, 5)

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
for i in range(2,5):
    print(i)

2
3
4

In [8]:
for i in range(1,10,3):
    print(i)

1
4
7

In [9]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [10]:
# print the value which is divisible by 5 
for i in range(1,51):

    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [12]:
# print the value which is divisible by 5 i dont want that value 
for i in range(1,51):

    if i%5!=0:
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

# Lets discuss about 3 keywords -- Break || Continue || Pass
Break Sytatement - if you apply break  statement in a loop then it will end the loop  
# Pass = skips block of code(function,class etc)
# Continue = skips 1 step/iteration during loop
# Break = jumps out of te fuunction/loop

In [15]:
# write the code user ask choclet from vendor machine write the basic code 

x = int(input('How may chocklates youu want:?'))

i = 1
    while i<=x:
        print('chocklet')
        i+=1

IndentationError: unexpected indent (2410628877.py, line 6)

If the user says i need 10 choclet but vending machine dont have 10 choclate & machine has only 5    choclate so what you do on those scenario
- We have 3 choice now  (eiter stop the transaction by you or you can give only 5 choclate) & may be
   vendor machine display the result as we are out of the stock
- Now lets try in the code

In [16]:
ava = 5 

x = int(input('How many Chocklates you want:?'))

i = 1
while i<=x:
    print('chocklet')
    i+=1

# if you check the user wants 10 choclets  but availabe choclet is 5 but we got output as 10 choclet
# in this code we just declare but we dint apply any condition to it

How many Chocklates you want:? 1

chocklet

In [17]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        print('out of stock')
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now')

How many choclets you want:? 2

choclet
choclet
bye for now

In [18]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

i don't want 11 number i want only 5 number for the range of 1 to 10

In [23]:
for i in range(1,11):
    if i == 6:
        break;
    print(i)

1
2
3
4
5

# in continue loop eant be terminate & exclude the assign number it give uyou enntire output

In [24]:
for i in range(1,11):
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9
10

In [25]:
for i in range(1,11):
    if i == 6:
        continue
    print('hello: ',i)

hello:  1
hello:  2
hello:  3
hello:  4
hello:  5
hello:  7
hello:  8
hello:  9
hello:  10

# PASS STATEMENT- pass the code & it want go (code give you the error)

In [26]:
for i in range(1,11):
    pass

## you need to print the number from 1 to 50 but dont print the number which is divisible by 3 or 5

In [29]:
for i in range(1,51):

    if i%3 == 0:
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [36]:
for i in range(1,51):

    if i%3 == 0:
        continue
        print(i)
print('end')

end

In [37]:
for i in range(1,51):

    if i%3 == 0 or i%5 == 0:
        continue
    print(i)

#print('end')
# it will skip all the value which is divisible by 3 or 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [38]:
for i in range(1,51):
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
print('end')
# when you apply and you wont get the value which is divisible by both 3 & 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
end

In [ ]:
# I don't want to print the values which are even numbers that means print only odd numbers

for i in range(1,51):

    if(i%2  == 0):
        continue:
    else: